<div class="col-md-12" style="margin-top:20px; margin-bottom: 80px; width: 100%;">

            <div class="panel panel-info panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h2 class="panel-title">Create Order Notes</h2>
                  </div>
                </div>
                <hr>
                
                <div class="row">
                  <div class="col col-xs-3">
                    <div class="form-group required">
                        <label for="deliveryDate" class="control-label col-md-4">Order Date</label>
                        <div class="controls col-md-8 ">
                            <input x-ng-disabled="isSaved" class="input-md  textinput textInput form-control" x-ng-change="generateDeliveryNoteID()" x-ng-model="deliveryNotes.deliveryDate" name="deliveryDate" style="margin-bottom: 10px" type="Date" />
                        </div>
                    </div>
                  </div>
                  <div class="col col-xs-3">
                    <div class="form-group required">
                        <label for="deliveryDate" class="control-label col-md-4">Order Id</label>
                        <div class="controls col-md-8 ">
                            <Label>{{deliveryNotes.deliveryNoteID}}</Label>
                        </div>
                    </div>
                  </div>
                  <div class="form-group col col-xs-3">
                       <label for="customerID" class="control-label col-md-4">Customer ID<span class="asteriskField">*</span> </label>
                       <div  class="controls col-md-6 " style="margin-bottom: 30px">
                           <select x-ng-disabled="isSaved" x-ng-change="loadCustomerName()" x-ng-options="customer.customerID as customer.customerID for customer in customers" class="form-control " x-ng-model="deliveryNotes.customerID" required></select>
                       </div>
                  </div>
                  <div class="form-group col col-xs-3">
                  		<label for="customerName" class="control-label col-md-4">Customer Name<span class="asteriskField">*</span> </label>
                       <div  class="controls col-md-6 " style="margin-bottom: 30px;width:60%">
                           <select x-ng-disabled="isSaved" x-ng-change="loadCustomerID()" x-ng-options="customer.customerName as customer.customerName for customer in customers" class="form-control " x-ng-model="deliveryNotes.customerName" required></select>
                       </div>
                  </div>
                </div>
                <div class="row">
				  <div class="col-sm-2">
				    <div class="input-group">
				      <span class="input-group-addon">
				        <input x-ng-disabled="isSaved" x-ng-change="generateDeliveryNoteID()" type="checkbox" x-ng-model="simple">
				      </span>
				      <label class="form-control text-center">Simple</label>
				    </div><!-- /input-group -->
				  </div><!-- /.col-sm-2 -->
				</div><!-- /.row -->
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th class="hidden-xs text-center">S.No.</th>
                        <th class="text-center" x-ng-style="!simple && {'width':'10%'}">ProductID</th>
                        <th class="text-center" x-ng-style="{'width':'15%'}">Particulars</th>
                        <th class="text-center" x-ng-style="!simple && {'width':'5%'}">Notation</th>
                        <th class="text-center" x-ng-style="!simple && {'width':'5%'}">Quantity</th>
                        <th class="text-center" x-ng-style="!simple && {'width':'7%'}">Price</th>
                        <th class="text-center">Total</th>
                        <th class="text-center" x-ng-style="!simple && {'width':'5%'}">Discount</th>
                        <th class="text-center">Net Total</th>
                        <th x-ng-hide="simple" class="text-center" x-ng-style="!simple && {'width':'2%'}">CGST</th>
                        <th x-ng-hide="simple" class="text-center" x-ng-style="!simple && {'width':'2%'}">CGST Amount</th>
                        <th x-ng-hide="simple" class="text-center" x-ng-style="!simple && {'width':'2%'}">{{stateGSTType}}</th>
                        <th x-ng-hide="simple" class="text-center" x-ng-style="!simple && {'width':'2%'}">{{stateGSTType}} Amount</th>
                        <th x-ng-hide="simple" class="text-center">Net Price</th>
                        <th class="text-center"><span class="glyphicon glyphicon-remove-sign"></span></th>
                    </tr> 
                  </thead>
                  <tbody>
                          <tr x-ng-repeat="note in notes">
                            <td class="hidden-xs">{{note.sno}}</td>
                            <td>
	                            <div class="form-group">
		                            <select x-ng-disabled="isSaved" x-ng-model="note.productID" x-ng-change="loadProductByID($index)" x-ng-options="product.productID as product.productID for product in products" class="form-control" ></select>
	                        	</div>
	                        </td>
	                        <td>
	                            <div class="form-group">
		                            <select x-ng-disabled="isSaved" x-ng-model="note.productDescription" x-ng-change="loadProductByDesc($index)" x-ng-options="product.productDescription as product.productDescription for product in products" class="form-control" ></select>
	                        	</div>
	                        </td>
	                        <td><div class="input-group"><input x-ng-disabled="isSaved || !note.isProductSelected" x-ng-model="note.notation" class="form-control" type="text"/></div></td>
	                        <td><div class="input-group"><input x-ng-disabled="isSaved || !note.isProductSelected" x-ng-model="note.quantity" x-ng-change="calculateTotal($index)" class="form-control" type="text"/></div></td>
	                        <td><div class="input-group"><input x-ng-disabled="isSaved || !note.isProductSelected" x-ng-model="note.rate" x-ng-change="calculateTotal($index)" class="form-control" type="text"/></div></td>
	                        <td><label class="control-label col-md-12">{{note.total}}</label></td>
	                        <td><div class="input-group"><input x-ng-disabled="isSaved || !note.isProductSelected" x-ng-model="note.discount" x-ng-change="calculateNetTotal($index)" class="form-control" type="text"/></div></td>
	                        <td><label class="control-label col-md-12">{{note.netTotal | number: 2}}</label></td>
	                        <td x-ng-hide="simple"><label class="control-label col-md-12">{{note.cgst}}<span>%</span></label></td>
	                        <td x-ng-hide="simple"><label class="control-label col-md-12">{{note.cgstAmount | number: 2}}</label></td>
	                        <td x-ng-hide="simple"><label class="control-label col-md-12">{{note.sgst}}<span>%</span></label></td>
	                        <td x-ng-hide="simple"><label class="control-label col-md-12">{{note.sgstAmount | number: 2}}</label></td>
	                        <td x-ng-hide="simple"><label class="control-label col-md-12">{{note.netPrice | number: 2}}</label></td>
	                        
                            <td align="center">
                              <button x-ng-disabled="isSaved" class="btn btn-danger" x-ng-click="deleteNote($index)" aria-label="Remove"><em>X</em></button>
                            </td>
                          </tr>
                        </tbody>
                </table>
            
              </div>
              <hr>
              <div class="row">
              	<div class="col-md-9 text-right"><Label style="margin-bottom: 10px;">Grand Total</Label></div>
              	<div class="col-md-3"><label>{{deliveryNotes.grandTotal | number: 2}}</label></div>
              </div>
              <!--  <pre>deliveryNotes : {{deliveryNotes | json}}</pre>-->
              <div class="panel-footer">
              <div class="row">
              	<div class="col col-xs-12 text-left" style="margin-bottom: 30px;">
                    <button type="button" class="btn btn-primary" x-ng-disabled="isSaved" x-ng-click="addNewNote()">Create New Note</button>
                </div>
              </div>
                <div class="row">
                  <div class="col col-xs-6 text-right">
                  		<button x-ng-disabled="!isRowAdded || isSaved" type="button" class="btn btn-primary"  x-ng-click="saveDeliveryNotes()">Save</button>
                  </div>
                  <div class="col col-xs-6">
                    <div class="col col-xs-6">
                    	<button x-ng-disabled="!isSaved" class="btn btn-success"  x-ng-click="downloadDeliveryNote()">Download</button>
                  </div>
                </div>
              </div>
            </div>

			</div> <!-- panel end -->
		</div>
