<div class="container">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        	<div class="container">
                        		<div class="row">
	                        		<div class="col-md-3 thumbnail text-center" style="width: 20%;">
								      <img src="../css/images/Product.jpeg" alt="Products">
								      <div class="caption">
								        <p>...</p>
								        <a href="#!product" class="btn btn-primary btn-lg" style="width:100%;"><span class="fa fa-product-hunt"></span> Products</a>
								      </div>
								    </div>
								    <div class="col-md-3 thumbnail text-center" style="width: 20%; margin-left: 5%;">
								      <img src="../css/images/Users.jpeg" alt="Users">
								      <div class="caption">
								        <p>...</p>
								        <a href="#!user" class="btn btn-primary btn-lg" style="width:100%;"><span class="fa fa-users"></span> Users</a>
								      </div>
								    </div>
	                        		<div class="col-md-3 thumbnail text-center" style="width: 20%; margin-left: 5%;">
								      <img src="../css/images/Orders.jpeg" alt="Products">
								      <div class="caption">
								        <p>...</p>
								        <a href="#!order" class="btn btn-primary btn-lg" style="width:100%;"><span class="fa fa-sticky-note-o"></span>  Orders</a>
								      </div>
								    </div>
								    <div class="col-md-3 thumbnail text-center" style="width: 20%; margin-left: 5%;">
								      <img src="../css/images/Invoice.png" alt="Users">
								      <div class="caption">
								        <p>...</p>
								        <a href="#!invoice" class="btn btn-primary btn-lg" style="width:100%;"><span class="fa fa-file"></span> Invoice </a>
								      </div>
								    </div>
						    	</div>
	                          	<div class="row">
								    <div class="col-md-3 thumbnail text-center" style="width: 20%;">
								      <img src="../css/images/Customers.jpeg" alt="Customers">
								      <div class="caption">
								        <p>...</p>
								        <p><a href="#!customer" class="btn btn-primary btn-lg" style="width:100%;"><span class="fa fa-user-circle-o"></span> Customers</a></p>
								      </div>
								    </div>
								    <div class="col-md-3 thumbnail text-center" style="width: 20%; margin-left: 5%;">
								      <img src="../css/images/AboutUs.jpeg" alt="About Us">
								      <div class="caption">
								        <p>...</p>
								        <p><a href="#!owner" class="btn btn-primary btn-lg" style="width:100%;"><span class="glyphicon glyphicon-info-sign"></span> About</a></p>
								      </div>
		                        	</div>
		                        	<div class="col-md-3 thumbnail text-center" style="width: 20%; margin-left: 5%;">
								      <img src="../css/images/Receipt.jpeg" alt="Customers">
								      <div class="caption">
								        <p>...</p>
								        <p><a href="#!installment" class="btn btn-primary btn-lg" style="width:100%;"><span class="fa fa-file-text"></span> Installment Receipts</a></p>
								      </div>
								    </div>
								    <div class="col-md-3 thumbnail text-center" style="width: 20%; margin-left: 5%;">
								      <img src="../css/images/Report.jpeg" alt="About Us">
								      <div class="caption">
								        <p>...</p>
								        <p><a href="#!reports" class="btn btn-primary btn-lg" style="width:100%;"><span class="fa fa-bar-chart"></span> Reporting</a></p>
								      </div>
		                        	</div>
							    </div>
                        	</div>
                        </div>
                        <!-- 
                        <div class="col-md-6" >
                        	<div class="container">
                        		<div class="row" >
                        			<div class="col-md-1"></div>
	                        		<div class="col-md-4 thumbnail text-center" style="width: 20%;">
								      <img src="../css/images/Orders.jpeg" alt="Products">
								      <div class="caption">
								        <p>...</p>
								        <a href="#!order" class="btn btn-primary btn-lg" style="width:100%;"><span class="fa fa-sticky-note-o"></span> <br/> Orders</a>
								      </div>
								    </div>
								    <div class="col-md-4 thumbnail text-center" style="width: 20%; margin-left: 5%;">
								      <img src="../css/images/Invoice.png" alt="Users">
								      <div class="caption">
								        <p>...</p>
								        <a href="#!invoice" class="btn btn-info btn-lg" style="width:100%;"><span class="fa fa-file"></span> <br/>Invoice </a>
								      </div>
								    </div>
							    </div>
							    <div class="row">
								    <div class="col-md-4 thumbnail text-center" style="width: 20%;">
								      <img src="../css/images/Receipt.jpeg" alt="Customers">
								      <div class="caption">
								        <p>...</p>
								        <p><a href="#!installment" class="btn btn-success btn-lg" style="width:100%;"><span class="fa fa-file-text"></span> <br/>Installment Receipts</a></p>
								      </div>
								    </div>
								    <div class="col-md-4 thumbnail text-center" style="width: 20%; margin-left: 5%;">
								      <img src="../css/images/Report.jpeg" alt="About Us">
								      <div class="caption">
								        <p>...</p>
								        <p><a href="#!reports" class="btn btn-warning btn-lg" style="width:100%;"><span class="fa fa-bar-chart"></span> <br/>Reporting</a></p>
								      </div>
		                        	</div>
							    </div> 
                        	</div>
                        </div>
                         -->
                    </div>
                </div>
            </div>
</div>