<div class="col-md-12" style="margin-top:50px; margin-bottom: 80px; width: 100%;">
<div class="panel panel-info panel-table">
	
	    <div class="panel-heading">
		    <div class="row">
	                  <div class="col col-md-12">
	                    <h1 class="panel-title" border="2">Edit Users</h1>
	                  </div>
	         </div>
	         <hr>
	         <div class="row" style="margin-bottom: 10px">
				<div class="col-md-6 text-left">
		            <form class="search-form">
		                <div class="form-group has-feedback">
		            		<label class="sr-only">Search</label>
		            		<input type="text" class="form-control" x-ng-model="searchString" placeholder="search">
		              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
		            	</div>
		            </form>
        		</div>
			</div>
		</div><!-- Panel Heading -->
		<div class="panel-body">
				<table class="table table-striped table-bordered table-list">
	                  <thead>
	                    <tr>
	                        <th class="hidden-xs">S.No.</th>
	                        <th class="text-center">User ID</th>
	                        <th class="text-center">User Name</th>
	                        <th class="text-center">Password</th>
	                        <th class="text-center">Address</th>
	                        <th class="text-center">Phone</th>
	                        <th class="text-center" style="width: 10%">Status</th>
	                        <th class="text-center" style="width: 10%">User Type</th>
	                        <th class="text-center" style="width: 10%">Create Date</th>
	                        <th class="text-center"><span class="glyphicon glyphicon-remove"></span></th>
	                    </tr>
	                  </thead>
	                  <tbody>
		                  <tr x-ng-repeat="user in users | filter : searchString">
	                          <td class="hidden-xs">{{user.sno}}</td>
	                          <td><label class="control-label col-md-12">{{user.userID}}</label></td>
	                          <td>
		                      	<div class="input-group"><input x-ng-change="updateUser($index)" x-ng-model="user.userName" class="form-control" type="text"/></div>
		                      </td>
		                      <td>
		                      	<div class="input-group"><input x-ng-change="updateUser($index)" x-ng-model="user.password" class="form-control" type="password"/></div>
		                      </td>
		                      <td>
		                      	<div class="input-group"><input x-ng-change="updateUser($index)" x-ng-model="user.address" class="form-control" type="text"/></div>
		                      </td>
		                      <td>
		                      	<div class="input-group"><input x-ng-change="updateUser($index)" x-ng-model="user.phone" class="form-control" type="text"/></div>
		                      </td>
		                      <td>
		                          <div class="input-group" style="width: 100%;">
	                                <select x-ng-options="status for status in userStatus" x-ng-change="updateUser($index)" x-ng-model="user.status" class="form-control" >
	                                	
	                            	</select>
                            	</div>
                              </td>
		                      <td>
		                          <div class="input-group" style="width: 100%;">
	                                <select x-ng-options="userType for userType in userTypes" x-ng-change="updateUser($index)" x-ng-model="user.userType" class="form-control" >
	                                	
	                            	</select>
                            	</div>
                              </td>
		                      
		                      <td><label class="control-label col-md-12">{{user.createDate}}</label></td>
		                      <td align="center">
	                             <button class="btn btn-danger" x-ng-click="deleteUser($index)" aria-label="Remove">X</button>
	                        </td>
	                      </tr>
                     </tbody>
                </table>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-offset-5 controls" class="btn-group" style="margin-bottom: 30px">
                     <button class="btn btn-primary" x-ng-click="updateUsers()">Update Users</button>
                </div>
            </div>
		</div>		
	    </div><!-- Panel -->
</div>
	    