<div class="panel-body">
<div class="row">
<div class="form-group col col-xs-4">
   <label class="control-label col-md-4">Customer ID<span class="asteriskField">*</span> </label>
   <div  class="controls col-md-6 " style="margin-bottom: 30px">
         <select x-ng-change="loadCustomerName()" x-ng-options="customer.customerID as customer.customerID for customer in customers" class="form-control " x-ng-model="report.customerID"></select>
   </div>
</div>
<div class="form-group col col-xs-4">
   <label class="control-label col-md-4">Customer Name<span class="asteriskField">*</span> </label>
   <div  class="controls col-md-6 " style="margin-bottom: 30px;width:60%">
         <select x-ng-change="loadCustomerID()" x-ng-options="customer.customerName as customer.customerName for customer in customers" class="form-control " x-ng-model="report.customerName"></select>
  </div>
</div>
<div class="form-group col col-xs-4">
   <label class="control-label col-md-4">Report Type<span class="asteriskField">*</span> </label>
   <div  class="controls col-md-6 " style="margin-bottom: 30px;width:60%">
         <select x-ng-options="transactionType for transactionType in transactionTypes" class="form-control " x-ng-model="report.transactionType"></select>
  </div>
</div>
</div>

<table class="table table-striped table-bordered table-list">
   <thead>
     <tr>
         <th class="hidden-xs">S.No.</th>
         <th class="text-center">Transaction Type</th>
         <th class="text-center">Transaction Date</th>
         <th class="text-center">Reference Number</th>
         <th class="text-center">Invoice Amount</th>
         <th class="text-center">Transaction Amount</th>
     </tr>
   </thead>
   <tbody>
    <tr x-ng-repeat="party in report.parties">
           <td class="hidden-xs text-center">{{party.sno}}</td>
           <td><label class="control-label col-md-12 text-center">{{party.transactionType}}</label></td>
     	   <td><label class="control-label col-md-12 text-center">{{party.transactionDate | date:'dd-MM-yyyy'}}</label></td>
           <td><label class="control-label col-md-12 text-center">{{party.referenceNumber}}</label></td>
           <td><label class="control-label col-md-12 text-center">{{party.transactionAmount | number:2}}</label></td>
           <td><label class="control-label col-md-12 text-center">{{party.invoiceAmount}}</label></td>
       </tr>
     </tbody>
</table>
</div>
<div class="panel-footer">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
		<div class="col-md-3">
			<label>Closing Balance : {{report.closingBalance | number:2}}</label>
		</div>
	</div>
</div>