<div class="container-fluid">
	<div class="panel panel-info panel-table">
		<div class="panel-heading">
			<div class="row">
			   <div class="col col-xs-12">
			     <h1 class="panel-title">Reports</h1>
			   </div>
			</div>
			<hr>
			<div class="row" style="margin-bottom: 10px">
			<div class="form-group col col-xs-3">
			     <div class="form-group">
			         <label class="control-label col-md-4 text-right">From<span class="asteriskField">*</span></label>
			         <div class="controls col-md-8 text-left ">
			             <input class="input-md  textinput textInput form-control" id="fromDate" x-ng-model="report.fromDate"  type="Date" />
			         </div>
			     </div>
			</div>
			<div class="form-group col col-xs-3">
				<div class="form-group">
				    <label class="control-label col-md-4 text-right">To<span class="asteriskField">*</span></label>
				    <div class="controls col-md-8 text-left">
				        <input class="input-md  textinput textInput form-control" id="toDate" x-ng-model="report.toDate" type="Date" />
				    </div>
				</div>
			</div>
			<div class="form-group col col-xs-2 text-right">
				<button type="button" class="btn btn-primary" x-ng-click="generateReport()">Get Report</button>
			</div>
			<div class="form-group col col-xs-4 text-center">
				<button type="button" class="btn btn-primary" x-ng-click="exportReport()">Export</button>
			</div>
			</div>
			<div class="row">
			  <div class="col-sm-2">
			    <div class="input-group">
			      <span class="input-group-addon">
			        <input type="checkbox" x-ng-model="simple">
			      </span>
			      <label class="form-control text-center">Simple</label>
			    </div><!-- /input-group -->
			  </div><!-- /.col-sm-2 -->
			</div><!-- /.row -->
		</div>
		<div class="panel-body">
			<table class="table table-striped table-bordered table-list">
			   <thead>
			     <tr>
			         <th class="hidden-xs">S.No.</th>
			         <th class="text-center">Receipt Date</th>
			         <th class="text-center">Receipt No.</th>
			         <th class="text-center">Customer name</th>
			         <th class="text-center">Amount Received</th>
			     </tr>
			   </thead>
			   <tbody>
			    <tr x-ng-repeat="receipt in report.receipts">
			           <td class="hidden-xs text-center">{{receipt.sno}}</td>
			     	   <td><label class="control-label col-md-12 text-center">{{receipt.receiptDate | date:'dd-MM-yyyy'}}</label></td>
			           <td><label class="control-label col-md-12 text-center">{{receipt.receiptID}}</label></td>
			           <td><label class="control-label col-md-12 text-center">{{receipt.customerID}}</label></td>
			           <td><label class="control-label col-md-12 text-center">{{receipt.totalAmtPaid}}</label></td>
			       </tr>
			     </tbody>
			</table>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-md-11 text-right"><label>Total Amount Received : {{report.totalAmountReceived}} Rs</label></div>
			</div>
		</div>
	</div>
</div>