<div class="col-md-12" style="margin-top:50px; margin-bottom: 80px; width: 100%;">
<div class="panel panel-info panel-table">
	
	    <div class="panel-heading">
		    <div class="row">
	                  <div class="col col-md-12">
	                    <h1 class="panel-title" border="2">Products</h1>
	                  </div>
	         </div>
	         <hr>
	         <div class="row" style="margin-bottom: 10px">
				<div class="col-md-6 text-left">
		            <form class="search-form">
		                <div class="form-group has-feedback">
		            		<label class="sr-only">Search</label>
		            		<input type="text" class="form-control" x-ng-model="searchString" placeholder="search">
		              		<span class="glyphicon glyphicon-search form-control-feedback"></span>
		            	</div>
		            </form>
        		</div>
			</div>
		</div><!-- Panel Heading -->
		<div class="panel-body">
				<table class="table table-striped table-bordered table-list">
	                  <thead>
	                    <tr>
	                        <th class="hidden-xs">S.No.</th>
	                        <th class="text-center">Product ID</th>
	                        <th class="text-center">Particulars</th>
	                        <th class="text-center">HSN Number</th>
	                        <th class="text-center">GST</th>
	                        <th class="text-center">Price</th>
	                        <th class="text-center">Product Type</th>
	                        <th class="text-center" style="width: 10%;">Status</th>
	                        <th class="text-center" style="width: 10%;">Effective Date</th>
	                    </tr> 
	                  </thead>
	                  <tbody>
		                  <tr x-ng-repeat="prod in products | filter : searchString">
	                          <td class="hidden-xs">{{prod.sno}}</td>
			                  <td><label class="control-label col-md-12">{{prod.productID}}</label></td>
	                          <td><label class="control-label col-md-12">{{prod.productDescription}}</label></td>
	                          <td><label class="control-label col-md-12">{{prod.otherProductCode}}</label></td>
	                          <td><label class="control-label col-md-12">{{prod.gst}}</label></td>
	                          <td><label class="control-label col-md-12">{{prod.rate}}</label></td>
	                          <td><label class="control-label col-md-12">{{prod.productType}}</label></td>
	                          <td><label class="control-label col-md-12">{{prod.status}}</label></td>
	                          <td><label class="control-label col-md-12">{{prod.effectiveDate}}</label></td>
	                      </tr>
                     </tbody>
                </table>
		</div>
	    </div><!-- Panel -->
</div>
	    