body {
    background-image: url("images/ProductPlannerBG.jpg");
}

.search-form .form-group {
  float: left !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.ngdialog.ngdialog-custom .ngdialog-content {
  height: 700px;
}
table tr th{
  background:#337ab7;
  color:white;
  text-align:center;
  vertical-align:center;
}
.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #33aa33;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}

#container{white-space:nowrap; overflow: hidden;}

.table{display:block;overflow-x:scroll;}

.noteTable td:last-child {
  min-width: 90px;
}

/** Editable table
------------------------- */

.editable-table > tbody > tr > td {
  padding: 1px
}
.editable-text {
  padding-left: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-block;
}
.editable-table tbody > tr > td > .controls {
  width: 100%
}
.editable-input {
  padding-left: 1px;
}
.editable-input.input-sm {
  height: 30px;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}