body {
    background-image: url("images/ProductPlannerBG.jpg");
}

.ngdialog.ngdialog-custom .ngdialog-content {
  height: 700px;
}
table tr th{
  background:#337ab7;
  color:white;
  text-align:center;
  vertical-align:center;
}

.navbar-custom {
    background-color:#0077b3;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #0cd91a;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}

#container{white-space:nowrap; overflow: hidden;}

.table{display:block;overflow-x:scroll;}

.noteTable td:last-child {
  min-width: 90px;
}

/** Editable table
------------------------- */

.editable-table > tbody > tr > td {
  padding: 1px
}
.editable-text {
  padding-left: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-block;
}
.editable-table tbody > tr > td > .controls {
  width: 100%
}
.editable-input {
  padding-left: 1px;
}
.editable-input.input-sm {
  height: 30px;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
}

a.active-tab {
    background: #03760d;
    color: white;
}
.navbar-custom > li.dropdown:hover > a, 
.navbar-custom > li.dropdown:hover > a:hover,
.navbar-custom > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}